
@{
    ViewBag.Title = "خانه";
}



<div class="alert text-center ">
    <h1 >به پنل ادمین خوش آمدید</h1>
    <p>
        <i class="fa fa-info text-info   rounded-circle p-3"></i>

        برای مدیریت قسمت های مختلف از منوی سمت راست می تواندی بخش مورد نظر را انتخاب کنید
    </p>

 
    
</div>

