@{
    ViewBag.Title = "Home Page";
}

<style>

</style>


<div class="row">
    <div class="col-md-12 mx-auto  ">

        <div>
            <div class=" wrapper">
                <h1 class="typing-demo">
                    به نرم افزار دامون خوش آمدید برای ورود بر روی گزینه ورود کلیک کنید
                </h1>
            </div>

        </div>
        <div class="form-group text-center mt-4 ">
            <a href="/Account/Login" class="btn btn-success btn-block">ورود به برنامه </a>
        </div>

    </div>

</div>

<script>

</script>